@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.contato{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://cdn.pixabay.com/photo/2014/06/16/23/39/dark-red-370119_1280.png);
    background-size: cover;
}
.container-contato h2{
    color: white;
    font-family:  "Bebas Neue", sans-serif;
    font-size: 2rem;
    text-align: center;
    margin: 0px 35px;
}
.container-icons-contato{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.container-icons-contato i{
    font-size: 3rem;
    margin-left: 20px;
    color: white;
    transition: .3s linear;
}

.container-icons-contato i:hover{
    font-size: 3.15rem;
    color: rgb(255, 57, 57);
}