@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.destaques{
    height: 100vh;
}
.destaques h2{
    font-size: 3rem;
    font-family: "Bebas Neue", sans-serif;
    padding: 0px 0px 60px 0px;
}
.container-destaques{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-videos {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.container-videos video {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}

/* Esconde os botões no desktop */
.carousel-btn-video {
  display: none;
}


@media (max-width: 1322px) {
  .destaques{
    height: 100%;
    padding-bottom: 50px;
  }
  .destaques h2{
    padding-top: 40px;
    margin-bottom: -60px;
  }
  .container-videos{
    align-items: center;
    justify-content: center;
  }
}


/* Ativa o carrossel no mobile */
@media (max-width: 768px) {


  .carousel-wrapper-video{
    position: relative;
    overflow: hidden;
    max-width: 100%;
    margin: 50px;
  }

  .container-videos {
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 0;
  }

  .container-videos video {
    flex: 0 0 100%;
    scroll-snap-align: start;
    max-width: 100%;
  }

  .carousel-btn-video {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #00000088;
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.3em 0.6em;
    z-index: 1;
    border-radius: 4px;
  }

  .carousel-btn-video.left {
    left: 10px;
  }

  .carousel-btn-video.right {
    right: 10px;
  }
}